---
title: "Verification | White Label | Make Developer Hub"
url: https://developers.make.com/white-label-documentation/install-and-configure-apps/verification
scraped_at: 2026-04-21T12:42:07.086343Z
---

1. Install and configure apps

# Verification

For security and privacy reasons, some third parties require a rigorous verification process to demonstrate that your business has a legitimate use case. Make tries to support customers as much as possible in this process. That said, many of the requirements are beyond the scope of Make's control. In general, the verification process may involve the following:

- Rejection Sometimes third-party feedback provides the specific required changes. Sometimes waiting several months and reapplying is successful. In general, you might be at the whims of the individual reviewing your verification.
- One month or more to get approval depending on the third party
- Ongoing compliance to maintain verified status
- Unexpected changes by third parties
- Screencasts to demonstrate the user experience and use of user data and why you need the scopes and permissions you're requesting.
- Publicly accessible privacy policy and/or similar notices
- Independent security audits of your platform
- Granting end-user level access to your instance for review purposes

Rejection

- Sometimes third-party feedback provides the specific required changes. Sometimes waiting several months and reapplying is successful. In general, you might be at the whims of the individual reviewing your verification.

Sometimes third-party feedback provides the specific required changes. Sometimes waiting several months and reapplying is successful. In general, you might be at the whims of the individual reviewing your verification.

One month or more to get approval depending on the third party

Ongoing compliance to maintain verified status

Unexpected changes by third parties

Screencasts to demonstrate the user experience and use of user data and why you need the scopes and permissions you're requesting.

Publicly accessible privacy policy and/or similar notices

Independent security audits of your platform

Granting end-user level access to your instance for review purposes

Because the verification can sometimes take months, we recommend starting at your earliest convenience.

### hashtag Google

Google flags your app as unverified until you complete their process. This means that your end users see a warning that your app is unverified. Here are some helpful links:

- An overview of what Google means by 'unverified app' arrow-up-right - includes general information about the verification process.
- A comprehensive resource about the process arrow-up-right - includes FAQs
- Steps to prepare for verification arrow-up-right
- Google developer's documentation arrow-up-right
- You contact Google for assistance at [email protected]

An overview of what Google means by 'unverified app' arrow-up-right - includes general information about the verification process.

A comprehensive resource about the process arrow-up-right - includes FAQs

Steps to prepare for verification arrow-up-right

Google developer's documentation arrow-up-right

You contact Google for assistance at [email protected]

### hashtag Meta

Meta's App review process requires you to demonstrate legitimate and responsible use of end-user data. Business verification, a separate process that confirms the authenticity of your company, may be required as well. Our recommended best practice is to use your company's business Facebook/Meta account for creating and developing your app in Meta.

- App review arrow-up-right - overview of the process with a quick video explanation
- Access verification arrow-up-right - the process for getting technical access to Meta's API
- Business verification arrow-up-right - the process for confirming that your company is a legal entity and that you're an authorized representative
- Sample submissions arrow-up-right
- Common reasons for rejection arrow-up-right
- Ongoing compliance checks arrow-up-right

App review arrow-up-right - overview of the process with a quick video explanation

Access verification arrow-up-right - the process for getting technical access to Meta's API

Business verification arrow-up-right - the process for confirming that your company is a legal entity and that you're an authorized representative

Sample submissions arrow-up-right

Common reasons for rejection arrow-up-right

Ongoing compliance checks arrow-up-right

### hashtag Microsoft

Microsoft's Publisher verification lets users outside of your MS Azure organization use MS apps on your instance.

- Overview of Microsoft publisher verification arrow-up-right - includes the benefits, requirements, and FAQs
- How to mark your app as publisher verified arrow-up-right
- How to troubleshoot your publisher verification arrow-up-right - includes information on completing the process and technical issues marking your app as publisher verified

Overview of Microsoft publisher verification arrow-up-right - includes the benefits, requirements, and FAQs

How to mark your app as publisher verified arrow-up-right

How to troubleshoot your publisher verification arrow-up-right - includes information on completing the process and technical issues marking your app as publisher verified

Last updated 1 year ago
